#timer {
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
}

#scoreboard {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

.container {
  flex-wrap: wrap;
  min-height: 200px;
  margin-top: 36px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.button {
  border-radius: 12px;
  margin: 3px;
}

.button:focus {
  outline-style: none;
}

.hide {
  display: none;
}

#questions {
  font-size: 20px;
}

#answerdisplay {
  flex-wrap: wrap;
  min-height: 30px;
  font-weight: bold;
  font-size: 20px;
}

#score-btn {
  margin-left: 5px;
}

#high-score {
  font-size: 30px;
  font-weight: bold;
}

#disabledTextInput {
  font-size: 24px;
  font-weight: 600;
}

.ol {
  flex-wrap: wrap;
  margin-left: 40px;
}
