.container {
  flex-wrap;
  min-height: 200px;
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.button {
  border-radius: 12px;
  margin: 3px;
}
#questions {
  font-size: 20px;
}
.answer {
 
}

.hide {
  display: none;
}

#start-btn {
}

#score-btn {
  margin-left: 5px;
}

#timer {
  flex-wrap;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 5px;
  font-size: 24px;
  font-weight: bold;
}

#scoreboard {
  flex-wrap;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
}